<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>98501371747-nnscboocffg80b7s4q2rb39qt2arbv5o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.98501371747-nnscboocffg80b7s4q2rb39qt2arbv5o</string>
	<key>API_KEY</key>
	<string>AIzaSyA0dsiUrzm5wgwiiEK-GTLUBS262yTyBc8</string>
	<key>GCM_SENDER_ID</key>
	<string>98501371747</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.voyager.idlezombieinvasion</string>
	<key>PROJECT_ID</key>
	<string>idle-zombie-invasion</string>
	<key>STORAGE_BUCKET</key>
	<string>idle-zombie-invasion.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:98501371747:ios:d79087a11861949d2b9556</string>
</dict>
</plist>